.app {
  @apply flex;
  padding: 1rem;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: white;
}

.wrapper {
 background: rgba(74, 88, 109, 1);
  border-radius: 0.875rem;
  justify-self: center;
  align-self: center;
  overflow: hidden;
}

.saveStateButton {
   background: rgba(74, 88, 109, 1);
   width: 11.0625rem;
   height: 2.1875rem;
   border-radius: 4px;
   color: rgba(72, 215, 208, 1);
   border: rgba(72, 215, 208, 1) solid 1px
;
}

.favoritesIndicator {
  width: 18.125rem;
  height: 1.875rem;
}