.container {
    width: 55rem;
    height: 3.75rem;
    display: flex;
    align-items: center;
    gap: 0 0.9rem;
}

.docIcon {
    width: 1.125rem;
    height: 1.125rem;
    
}

.creatorIndication {
    width: 19.25rem;
}

.creatorName {
    width: 12rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}