.container {
    width: 55rem;
    display: flex;
    align-items: center;
    gap: 0 0.9rem;
}

.docIcon {
    width: 1.125rem;
    height: 1.125rem;
}

.creationDetails {
    font-size: 0.875rem;
    color: rgba(189, 189, 189, 1);
}
/* This should've been like this i mistook in previous branch */

.creator {
    display: flex;
    width: 19.25rem;
    gap: 0 0.5rem;
}

.creatorName {
    max-width: 12rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}