@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: Rubik;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  margin: 0;
  padding: 0;
}


body {
  @apply text-white;
   background-image: url('./assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

input {
  @apply bg-white;
  border-bottom: 1px solid #a8b2c4;
  outline: none;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #444;
  border-radius: 0.25rem;
  font-size: 1rem;
}

input:focus {
  @apply border-primary;
  outline: none;
  box-shadow: 0 0 0 2px rgba(50, 111, 168, 0.5);
}